<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Navbar</h1>
<ul>
    <li><a href="/auth/logout">logout</a></li>
    <li><a href="/">home</a></li>
</ul>
<img src="<%= user.thumbnail %>" alt="" style="border-radius: 50%;width: 100px; height: 100px;"/>

<h1 style="align-self: center;font-weight: bold;font-size: 2em;">WELCOME TO YOUR DASHBOARD Mr <%= user.username %></h1>

Consectetur et cillum officia velit do adipisicing mollit eu voluptate. Ad non cupidatat minim aliqua id fugiat culpa et anim dolore dolore aliqua ad sunt. Do cupidatat proident ullamco sit ullamco non reprehenderit esse ad. Aliquip cupidatat ut nulla consequat enim ex esse anim consectetur cupidatat do consequat.

Eu ullamco ex sit ipsum ad commodo consectetur tempor laborum do reprehenderit culpa culpa. Proident pariatur nisi aliquip ullamco consequat occaecat aute in. Reprehenderit qui sit nulla aliquip culpa quis labore commodo reprehenderit dolore.

Dolore non magna dolor minim ipsum do cillum deserunt. Dolore et ullamco eu eu ipsum ipsum aute sint. Minim ad qui eu eu magna adipisicing ut reprehenderit. Veniam sit commodo laborum occaecat nulla aliqua ut nostrud excepteur nostrud dolore duis quis. Incididunt id fugiat duis nisi eiusmod magna duis. Eiusmod eiusmod pariatur sint mollit voluptate magna. Fugiat cupidatat nostrud ad fugiat.

Sint labore eiusmod qui nulla deserunt sit id et occaecat. Lorem reprehenderit pariatur ut est mollit ex incididunt culpa. Esse irure ut quis non labore magna exercitation magna amet duis.

Nostrud et magna nostrud id anim dolore ex labore ad. Non culpa in deserunt aliquip culpa adipisicing commodo reprehenderit id. Officia magna est sint qui aliquip reprehenderit ad nulla amet mollit ullamco non.

Non incididunt commodo ea consectetur nostrud exercitation voluptate ad sunt. Fugiat elit magna enim cupidatat adipisicing aliqua ad. Aliquip adipisicing incididunt dolore consequat consectetur non voluptate fugiat anim cupidatat sint ex et. Amet proident nulla enim exercitation velit culpa labore. Consequat culpa duis labore eu laboris commodo. Dolor qui voluptate mollit mollit magna ullamco.
</body>
</html>