<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Home page</h1>

    <h1>Navbar</h1>
    <ul> 
        <% if(user){%>
        <li><a href="./auth/logout">log out</a></li>      
        <li><a href="/dashboard">dashboard</a></li> 
        <li><a href="/auth/login">Login</a></li> 
         
        <% }else{%>  
        <li><a href="./auth/login">log in</a></li> 
        <li><a href="./auth/google">Google+</a></li>
        <% }%>   
    </ul>
</body>
</html>